.addons {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* padding: 0 8rem 0; */
}
.addonHeading {
    text-align: center;
    font-size: 1.5rem;
    color: #4c4d5f;

}
.addonCards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* box-shadow: 10px 0px 40px 15px #aaaaab0f */
    /* 0px 0px 10px 5px #1018280F */
}
.addonContainer {
    box-shadow: 0px 1px 2px 0px #1018280F, 10px 0px 30px 5px #8383870f;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-items: stretch; */
    border-radius: 0.75rem;
    background: #fff;
}
.addonTitle {
    color: #42434f;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.addonDesc {
    color: #7c7d91;
    font-size: 0.875rem;
}
.addonFees {
    padding-right: 2rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: #42434f;
}
.addonFee {
    display: flex;
    flex-direction: column;
}
.addonTime {
    font-size: 0.85rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #7c7d91;
}